.cursor-pointer {
  cursor: pointer;
}

.v-table {
  margin: 0;
  padding: 0;
  thead {
    th {
      white-space: nowrap;
      text-transform: inherit;
      text-decoration: underline;
      text-align: center;
      background-color: rgb(var(--v-theme-background));
      border-radius: 0.25rem;
    }
  }
  &.striped {
    &.v-theme--light {
      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: rgba(0, 0, 0, 0.05);
          }

          td {
            white-space: nowrap;
          }
        }
      }
    }

    &.v-theme--dark {
      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: rgba(255, 255, 255, 0.05);
          }

          td {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.v-toolbar-title {
  margin-inline-start: 0 !important;
}
