// These are styles which are both common in layout w/ vertical nav & horizontal nav
@use "global";
@use "vue3-perfect-scrollbar/style.css";
@use "classes";

@use "@/assets/styles/admin/rtl";
@use "@/assets/styles/admin/placeholders";
@use "@/assets/styles/admin/mixins";
@use "@configured-variables" as variables;

@use "@/assets/styles/admin/template";
@use "@/assets/styles/admin/template/libs/vuetify/index.scss";

html,
body {
  min-block-size: 100%;
}

.layout-page-content {
  flex-grow: 1;

  padding-block: 1.5rem;

  @include mixins.boxed-content(true);
}

.layout-footer {
  .footer-content-container {
    block-size: variables.$layout-vertical-nav-footer-height;
  }

  .layout-footer-sticky & {
    position: sticky;
    inset-block-end: 0;
    will-change: transform;
  }

  .layout-footer-hidden & {
    display: none;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
