* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:focus,
button:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

a {
  color: var(--clr-black);
  text-transform: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a :focus {
  text-decoration: none;
  box-shadow: none;
  color: var(--clr-black);
}

a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  color: var(--clr-black);
  font-family: var(--secondary-font);
}
body {
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--clr-emperor);
}
p {
  font-size: 16px;
  line-height: 1.7;
  color: var(--clr-emperor);
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("@/assets/images/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 94% 50%;
}

.list-style {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
  }
}

.page-wrapper {
  overflow-x: hidden;
}
