.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}
.pt-200 {
  padding-top: 200px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-130 {
  padding-bottom: 130px;
}

.ptb-10 {
  padding-bottom: 10px;
  padding-bottom: 10px;
}

.ptb-20 {
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ptb-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}

.mmt-10 {
  margin-top: -10px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-100 {
  margin-top: 100px !important;
}
.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

.z-0 {
  z-index: 0;
  position: relative;
}

#message {
  padding: 0;
  margin: 0;
}

.bg-transparent {
  background-color: transparent;
}
.bg-black {
  background-color: var(--clr-black);
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-concrete {
  background-color: var(--clr-concrete);
}
.bg-blue {
  background-color: var(--clr-error);
}
.bg-downriver {
  background-color: var(--clr-red);
}
.bg-catskill {
  background-color: var(--clr-catskill);
}
.bg-athens {
  background-color: var(--clr-athens);
}
.bg-albastor {
  background-color: var(--clr-albastor);
}
.body_overlay {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  @include transition(0.4s);
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.op-1 {
  opacity: 0.1;
}

.op-2 {
  opacity: 0.2;
}

.op-3 {
  opacity: 0.3;
}

.op-4 {
  opacity: 0.4;
}

.op-5 {
  opacity: 0.5;
}

.op-6 {
  opacity: 0.6;
}

.op-7 {
  opacity: 0.7;
}
.op-75 {
  opacity: 0.75;
}

.op-8 {
  opacity: 0.8;
}
.op-85 {
  opacity: 0.85;
}

.op-9 {
  opacity: 0.9;
}

.op-95 {
  opacity: 0.95;
}

.op-10 {
  opacity: 1;
}

.bg-f {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
}

.pos-rel {
  position: relative;
  z-index: 1;
}

.bounce {
  -moz-animation: float 1500ms infinite ease-in-out;
  -webkit-animation: float 1500ms infinite ease-in-out;
  animation: float 1500ms infinite ease-in-out;
}

.moveHorizontal {
  -moz-animation: moveHorizontal 3000ms infinite ease-in-out;
  -webkit-animation: moveHorizontal 3000ms infinite ease-in-out;
  animation: moveHorizontal 3000ms infinite ease-in-out;
}
.moveVertical {
  -moz-animation: moveVertical 3000ms infinite ease-in-out;
  -webkit-animation: moveVertical 3000ms infinite ease-in-out;
  animation: moveVertical 3000ms infinite ease-in-out;
}
.moveHorizontal_reverse {
  -moz-animation: moveHorizontal_reverse 3000ms infinite ease-in-out;
  -webkit-animation: moveHorizontal_reverse 3000ms infinite ease-in-out;
  animation: moveHorizontal_reverse 3000ms infinite ease-in-out;
}

.animationFramesTwo {
  -moz-animation: animationFramesTwo 20000ms infinite ease-in-out;
  -webkit-animation: animationFramesTwo 20000ms infinite ease-in-out;
  animation: animationFramesTwo 20000ms infinite ease-in-out;
}
.waving_left {
  -webkit-animation: waving_left 7s infinite linear;
  animation: waving_left 7s infinite linear;
  @include transition(0.3s);
}

.waving_right {
  -webkit-animation: waving_right 7s infinite linear;
  animation: waving_right 7s infinite linear;
  @include transition(0.3s);
}

.rotate {
  -webkit-animation: rotation 20s infinite linear;
  animation: rotation 20s infinite linear;
}
.semi-rotate {
  -webkit-animation: semi-rotate 5s infinite linear;
  animation: semi-rotate 5s infinite linear;
}
