.vehicle-slider-one {
  &.owl-carousel {
    .owl-nav {
      button {
        &.owl-prev,
        &.owl-next {
          border: none;
          background-color: var(--clr-white);
          &:hover {
            background-color: var(--clr-error);
          }
        }
      }
    }
  }
}
